<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
    <link rel="stylesheet" href="../../styles/common.css" />
    <link rel="stylesheet" href="../../styles/page.css" />
</head>
<body>
<div class="dashboard-container" id="orders-app">
    <div class="container">
        <div class="tableBar">
            <el-select v-model="input" placeholder="请选择订单状态">
                <el-option label="待付款" value="1"></el-option>
                <el-option label="已完成" value="2"></el-option>
                <el-option label="已取消" value="3"></el-option>
            </el-select>
            <el-button type="primary" icon="el-icon-search" @click="init" style="margin-left: 10px"  >搜索</el-button>
<!--            <div class="tableLab">-->
<!--                <el-button type="primary" @click="addOrderstype('add')">+ 新建订单</el-button>-->
<!--            </div>-->
        </div>
        <el-table :data="tableData" stripe class="tableBox" @selection-change="handleSelectionChange">
            <el-table-column prop="phone" label="用户手机号"></el-table-column>
            <el-table-column prop="shopName" label="商品名称"></el-table-column>
            <el-table-column label="金额">
                <template slot-scope="scope">
                    <span style="margin-right: 10px;">￥{{ scope.row.account }}</span>
                </template>
            </el-table-column>
            <el-table-column prop="shopCount" label="商品数量"></el-table-column>
            <el-table-column label="订单状态">
                <template slot-scope="scope">
                    <span style="margin-right: 10px;" v-if="scope.row.status=='1'">{{ '待付款' }}</span>
                    <span style="margin-right: 10px;" v-if="scope.row.status=='2'">{{ '已完成'}}</span>
                </template>
            </el-table-column>
            <el-table-column prop="orderDetail.createTime" label="下单时间"></el-table-column>
            <el-table-column prop="orderDetail.endTime" label="订单完成时间"></el-table-column>
            <el-table-column prop="orderDetail.description" label="备注"></el-table-column>
<!--            <el-table-column label="操作" width="160" align="center">-->
<!--                <template slot-scope="scope">-->
<!--                    <el-button type="text" size="small" class="blueBug" @click="addOrderstype(scope.row.id)">查看</el-button>-->
<!--                </template>-->
<!--            </el-table-column>-->
        </el-table>
        <el-pagination
                class="pageList"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="counts"
                @size-change="handleSizeChange"
                :current-page.sync="page"
                @current-change="handleCurrentChange"
        ></el-pagination>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/orders.js"></script>
<script>
    new Vue({
        el: '#orders-app',
        data() {
            return {
                input: '',
                counts: 0,
                page: 1,
                pageSize: 10,
                tableData : [],
                ordersState : '',
                checkList: [],
            }
        },
        computed: {},
        created() {
            this.init()
        },
        mounted() {
        },
        methods: {
            async init () {
                const params = {
                    page: this.page,
                    pageSize: this.pageSize,
                    status: this.input ? this.input : undefined
                };
                await getOrdersPage(params).then(res => {
                    console.log(res)
                    if (String(res.code) === '1') {
                        this.tableData = res.data.list || [];
                        this.counts=res.data.total

                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })
            },
            getImage (image) {
                return `/common/download?name=${image}`
            },
            handleQuery() {
                this.page = 1;
                this.init();
            },
            //状态修改
            statusHandle (row) {
                this.id = row.id;
                this.status = row.status;
                this.$confirm('确认调整该账号的状态?', '提示', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                    'type': 'warning'
                }).then(() => {//点击确定执行
                    // 调用请求方法   0--false----true   1---true---0
                    //this.status=="0"||this.status==0 ? "1" : "0"
                    enableOrDisableOrders({ 'id': this.id, 'status':!this.status?1:0 }).then(res => {//请求结果处理
                        if (String(res.code) === '1') {
                            this.$message.success('账号状态更改成功！');
                            this.handleQuery()
                        }else{
                            this.$message.error(res.msg)
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                })
            },
            // 添加
            addOrderstype (st) {
                if (st === 'add'){
                    window.parent.menuHandle({
                        id: '12',
                        url: '/back/page/orders/add.html',
                        name: '添加订单'
                    },true)
                } else {
                    window.parent.menuHandle({
                        id: '12',
                        url: '/back/page/orders/update.html?id='+st,
                        name: '修改订单'
                    },true)
                }
            },

            // 全部操作
            handleSelectionChange (val){
                let checkArr = [];
                val.forEach((n) => {
                    checkArr.push(n.id)
                });
                this.checkList = checkArr
            },
            handleSizeChange (val) {
                this.pageSize = val;
                this.init()
            },
            handleCurrentChange (val) {
                this.page = val;
                this.init()
            },
            deleteHandle(id){
                console.log(id)
                this.$confirm('确认删除该订单, 是否继续?', '确定删除', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                }).then(() => {
                    deleteOrders(id).then(res => {
                        console.log(res)
                        if (res.code === 1) {
                            this.$message.success('删除成功！');
                            this.handleQuery()
                        } else {
                            this.$message.error(res.msg || '操作失败')
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                })
            }
        }
    })
</script>
</body>
</html>