<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
    <link rel="stylesheet" href="../../styles/common.css" />
    <link rel="stylesheet" href="../../styles/page.css" />
    <style>
        .selectInput {
            position: relative;
            width: 100%;
            min-width: 100px;
        }
        .selectInput .flavorSelect {
            position: absolute;
            width: 100%;
            padding: 0 10px;
            border-radius: 3px;
            border: solid 1px #FF903D;
            line-height: 30px;
            text-align: center;
            background: #fff;
            top: 50px;
            z-index: 99;
        }
        .selectInput .flavorSelect .items {
            cursor: pointer;
            display: inline-block;
            width: 100%;
            line-height: 35px;
            border-bottom: solid 1px #f4f4f4;
            color: #666;
        }
        .selectInput .flavorSelect .none {
            font-size: 14px;
        }

        #food-add-app .uploadImg .el-form-item__label::before{
            content: '*';
            color: #F56C6C;
            margin-right: 4px;
        }

    </style>
</head>
<body>

<div class="addBrand-container" id="teacher-add-app">
    <div class="container">
        <el-form ref="ruleForm" :model="ruleForm" :rules="rules" :inline="true" label-width="180px" class="demo-ruleForm">
            <div>
                <el-form-item label="会员名字:" prop="name">
                    <el-input v-model="ruleForm.name" placeholder="请填写会员名字" maxlength="20"/>
                </el-form-item>
            </div>
            <div>
                <div>
                    <el-form-item label="头像:" prop="region" class="uploadImg">
                        <el-upload class="avatar-uploader" action="/common/upload" :show-file-list="false" :on-success="handleAvatarSuccess" :on-change="onChange" ref="upload">
                            <img v-if="imageUrl" :src="imageUrl" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </el-form-item>
                </div>
            </div>
            <div>
                <el-form-item label="会员性别:" prop="sex">
                    <el-input v-model="ruleForm.sex" placeholder="请填写会员性别" maxlength="20"/>
                </el-form-item>
            </div>
            <div>
                <el-form-item label="会员电话:" prop="phone">
                    <el-input v-model="ruleForm.phone" placeholder="请填写会员电话" maxlength="20"/>
                </el-form-item>
            </div>
            <div>
                <el-form-item label="会员身份证号:" prop="idNumber">
                    <el-input v-model="ruleForm.idNumber" placeholder="请填写会员身份证号" maxlength="20"/>
                </el-form-item>
            </div>
            <div>
                <el-form-item label="会员生日:" prop="birthday">
                    <el-date-picker v-model="ruleForm.birthday" type="date" placeholder="选择日期"
                                    @change = "timeupdate()">
                    </el-date-picker>
                </el-form-item>
            </div>


            <div class="subBox address">
                <el-form-item>
                    <el-button @click="goBack()">取消</el-button>
                    <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
                    <el-button v-if="actionType == 'add'" type="primary" class="continue" @click="submitForm('ruleForm','goAnd')">
                        保存并继续添加会员
                    </el-button>
                </el-form-item>
            </div>
        </el-form>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../js/index.js"></script>
<script src="../../api/users.js"></script>
<script src="../../api/student.js"></script>
<script src="../../js/common.js"></script>
<script>
    new Vue({
        el: '#teacher-add-app',
        data() {
            return {
                id: '',
                value1:'',
                imageUrl: '',
                ruleForm  : {
                    'id': '',
                    'name': '',
                    'birthday':'',
                    'sex':'',
                    'image':'',
                    'phone':'',
                    'idNumber':''
                },
                mak: false,
            }
        },
        computed: {
            rules () {
                return {
                    'name': [
                        {'required': true, 'message': '请填写名称', 'trigger': 'blur'}
                    ],
                }
            }
        },
        created() {
            //和修改相关
            this.id = requestUrlParam('id');
            this.actionType = this.id ? 'edit' : 'add';
            if (this.id) {
                this.init()
            }
        },
        mounted() {
        },
        methods: {
            async init () {
                queryTeacherById(this.id).then(res => {
                    console.log(res);
                    if (String(res.code) === '1') {
                        this.ruleForm = { ...res.data };
                        this.ruleForm.status = res.data.status == '1'
                        // this.imageUrl = `/common/download?name=${res.data.image}`
                    } else {
                        this.$message.error(res.msg || '操作失败')
                    }
                })
            },
            timeupdate(){
                var t = dateFormat("yyyy-MM-dd",this.ruleForm.birthday)
                console.log(t)
                this.ruleForm.birthday = t
            },
            submitForm(formName, st) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        const params = {
                            ...this.ruleForm,
                            sex: this.ruleForm.sex === '女' ? '0' : '1',
                            image:this.imageUrl.split("=")[1]
                        };
                        console.log(this.imageUrl)
                        params.status = this.ruleForm ? 1 : 0;
                        if (this.actionType == 'add') {
                            delete params.id;
                            addUser(params).then(res => {
                                if (res.code === 1) {
                                    this.$message.success('会员添加成功！');
                                    if (!st) {
                                        this.goBack()
                                    } else {
                                        this.imageUrl = '';
                                        this.ruleForm = {
                                            'id': '',
                                            'name': '',
                                            'birthday':'',
                                            'sex':'',
                                            'image':'',
                                            'phone':'',
                                            'idNumber':'',
                                        }
                                    }
                                } else {
                                    this.$message.error(res.msg || '操作失败')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        } else {
                            delete params.updateTime;
                            editTeacher(params).then(res => {
                                if (res.code === 1) {
                                    this.$message.success('会员修改成功！');
                                    this.goBack()
                                } else {
                                    this.$message.error(res.msg || '操作失败')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        }
                    } else {
                        return false
                    }
                })
            },
            handleCheckAllChange(val) {
                this.checkedTags = val ? tagsOptions : [];
                this.isIndeterminate = false;
            },
            handleCheckedCitiesChange(value) {
                let checkedCount = value.length;
                this.checkAll = checkedCount === this.tags.length;
                this.isIndeterminate = checkedCount > 0 && checkedCount < this.tags.length;
            },
            onChange (file) {
                if(file){
                    const suffix = file.name.split('.')[1];
                    const size = file.size / 1024 / 1024 < 2;
                    if(['png','jpeg','jpg'].indexOf(suffix) < 0){
                        this.$message.error('上传图片只支持 png、jpeg、jpg 格式！');
                        this.$refs.upload.clearFiles();
                        return false
                    }
                    if(!size){
                        this.$message.error('上传文件大小不能超过 2MB!');
                        return false
                    }
                    return file
                }
            },
            goBack(){
                window.parent.menuHandle({
                    id: '6',
                    url: '/back/page/user/list.html',
                    name: '用户管理'
                },false)
            },
            handleAvatarSuccess (response, file, fileList) {
                // 拼接down接口预览
                if(response.code === 0 && response.msg === '未登录'){
                    window.top.location.href = '../login/login.html'
                }else{
                    this.imageUrl = `/common/download?name=${response.data}`;
                    this.ruleForm.image = response.data
                }
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }
        }
    })
</script>
</body>
</html>